name: Update Rlaxx Guide

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Scraper
        run: python main.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action Bot"
          if [ -s rlaxx_playlist.m3u ]; then
            git add rlaxx_playlist.m3u rlaxx_guide.xml
            git commit -m "Update EPG Data [skip ci]" || echo "No changes"
            git push
          else
            echo "API block detected. Files not generated."
            exit 0
          fi
